// Mixins Here

@mixin .btn(@porcelain, @btn-bg-color) {
    color: @porcelain;
    background-color: @btn-bg-color;
}

@mixin .font(@main-font-color, @font-family) {
    color: @main-font-color;
    font-family: @font-family;
}
